:root {
/* CSS HEX */
--midnight-violet: #2e0014ff;
--espresso: #442220ff;
--palm-leaf: #809848ff;
--muted-olive: #b0ca87ff;
--celadon: #b5deadff;
--glamour-white: #fffbed;
--off-white: #f2f3f4;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color:var(--midnight-violet);
	line-height:1.6;
}

.button {
	border: 2px solid var(--midnight-violet);
	background-color: var(--palm-leaf);
	color: var(--glamour-white);
	padding: 1% 1%;
	margin: 0.5% 0.5%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 10px;
}
.button:hover{
	background-color: var(--muted-olive);
}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	flex-basis: 100%;
}
.container div{
	width: 75%;
	align-self: center;
	background-color: var(--off-white);
	margin: 10px;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
}

.inputBox{
	border: 2px solid var(--midnight-violet);
	padding: 1% 1%;
	color: var(--midnight-violet);
	margin: 0.5% 0.5%;
	background-color: var(--muted-olive);
	border-radius: 10px;
	font-size: 16px;
	width: 95%;
}